node_modules
dist
out
build/icons
.DS_Store
.eslintcache
*.log*
check-env.sh
run_check.sh
to-do.txt
__pycache__/
*.py[cod]
*$py.class
gatewizard-gui.code-workspace
electron.vite.config.*.mjs
!electron.vite.config.mjs

# Local protocol archives
resources/protocols/*.bak
